@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}


header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}
/* Main section */

.logo{
    text-decoration: none;
    font-family: "Protest Revolution", sans-serif;
    color: #0b442cd2;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    color: #943e3e;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    padding-left: 50px;
}

.navigation a:hover{
    color: #4e9eff;
}

section {
    padding: 100px 200px;
}

.main {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: var(--bg-primary);
}
.header-content {
    display:flex;
    align-items: center;
    gap: 250px;
}
.personal-img{
   max-width: 40%;
   height: 40%;
   border:2px solid #fff;
   border-radius: 50px;
   border-color:#fff;
   background-color:#0b442cd2;
   margin-left: 190px;
   box-shadow: 0 0 20px #34eb9fd2;
   transition: 0.7s ease;
}
.personal-img:hover{
    background-color: #4e9eff;
    opacity: 0.95;
    transform: scale(1.1);
}
.main h2 {
    color: #000;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    font-family: "Protest Revolution", sans-serif;;
    margin-top: 10px;
    color: #0b442cd2;
    font-size: 3em;
    font-weight: 600;
    line-height: 1.0;
}

.main h3 {
    color: #943e3e;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #fff;
    background-color: #0b442cd2;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: #4e9eff;
    transform: scale(1.1);
}

.social-icons a  i {
    color: #943e3efe;
    font-size: 1.9em;
    padding: 1rem;
    transition: all 0.3s ease;
    border-radius: 50%;
    border: #4e9eff;
    background-color: var(--gray);
    margin-right: 10px;
}

.social-icons a i:hover{
    color:#4e9eff;
    transform: scale(0.85);
}
.khamsat {
    max-width: 6%;
    height: 6%;
    font-size: 1.7em;
    border-radius: 50%;
    margin-right: 20px;
    margin-left:10px;
    box-shadow: 0 0 8px #34eb9fd2;
    transition: 0.7s ease;
}
.khamsat:hover{
    transform: scale(0.85);
    
}
#upwork a  i {
    color: #943e3efe;
    font-size: 1.7em;
    padding: 1rem;
    transition: all 0.3s ease;
    border-radius: 50%;
    border: #4e9eff;
    background-color: var(--gray);
    margin-right: 10px;

}
/* About section */
.about{
    max-width: 100%;
    min-height: 100vh;
    background-color: var(--bg-primary);

}
.About h2 {
    text-align: center;
    color: #0b442cd2;
    font-size: 2.2em;
    font-weight: 800;
    letter-spacing: 1px;
}
 hr {
    max-width: 120px;
   height:3px;
   background-color: #943e3efe;
   border: none;
   margin: 5px auto 0;
}
.about-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.about-text {
    margin-top: 6rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.6px;
}
.about-text h3 {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.skills {
    background-color: #eb984e;
    border:2px solid #fff;
    display: flex;
    flex-direction: row;
    gap:20px;
    margin-left: 30px;
    max-width: 600px;
    padding:10px;
    max-height:170px;
    
}
.skill-icon{
    transition: 0.7s ease;
}

.skill-icon  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80px;
    max-height: 80PX;
}
.skill-icon:hover{
    transform: scale(0.85);
    
}
.skill-icon a {
    display: inline-block;
    font-size: 40px;
    border-radius: 12px;
    padding-top: 10px; 
    max-width: 60px;
}

.skill-icon p{
    font-size: 16px;
    font-weight: 500;
    color:#fff;
    display: flex;
    justify-content: center;
}
#slogan{
    padding-top: 5px;
    padding-left: 12px;
}
#cer{
    margin: 20px 30px;
    

}
.skill-icon-img {
    max-width: 40px;
}


.scientist {
    margin-top: 6rem;
}
.scientist-img{
    max-width: 80%;
    border:2px solid #fff;
    border-radius: 50px;
    border-color:#fff;
    background-color:#0b442cd2;
    margin-left: 190px;
    box-shadow: 0 0 20px #34eb9fd2;  
}
/* Service section */
.cards{
    max-width: 100%;
    min-height: 100vh;
    
}
.title {
   text-align: center;
    color: #0b442cd2;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 150px;
}

.card {
    background-color: var(--bg-primary);
    max-width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card .icon img {
    max-width: 50%;
    font-size: 8em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info {
    text-align: center;
}

.info h3{
    color: #0b442cd2;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
/* projects section */
.projects {
     background-color: #0b442cd2;
     max-width: 100%;
     min-height: 100vh;
}
.projects .title {
    color: #fff;
}
.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
   transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
 }

.project-image img{
    display: block;
    width: 250px;
    height: 250px;
   margin-right: auto;
   margin-left: auto;
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #0b442cd2;
}

.more-details:hover {
    color: #4e9eff;
}
/* Contact section */
.contact .icon{
    font-size: 4.5em;
    color: #0b442cd2;
    display: flex;
    justify-content: center;

}

#mail  {
    width: none;
    max-width: 450px;
    
}
.contact .info h3 {
    color: #943e3e;
}

.contact .info p {
    font-size: 1.5em;
}

.footer {
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    display: inline-block;
    margin-top: 20px;
    color: #4e9eff;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}
.footer .social-icons a:hover{
    color: #4e9eff;
}
@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}